@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-dec {
  width: 100%;
  height: 70px;
  /* background-color: #c1c1c1; */
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid transparent;
  box-shadow: 0px 5px 5px rgba(43, 10, 10, 0.31);
}

.navigation {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
  gap: 30px;
}

.nav-link {
  background-color: rgb(226, 226, 226);
  color: black;
  font-size: 30px;
  text-decoration: none;
  border: 1px solid #c1e;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgba(43, 10, 10, 0.31);

  padding: 13px 10px;
}

.nav-link:hover,
.nav-link:focus {
  color: rgb(255, 68, 112);
}

.search {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.search-in {
  width: 250px;
  height: 20px;
  margin-right: 5px;
}
